/*  mobile */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #4e4e4e;
}
h1{
    font-style: 13px;
}
h2{
    font-size: 19px;
}
ul{
    list-style: none;
}
.container{
    width: 100%;
    display: flex;
}
body{
    color: #4e4e4e;
    font-family: 'Noto Serif KR', serif;
}
header{
    width: 30%;
    height: 100vh;
    background: #C2DCE7;
    box-shadow: #bababa 5px 5px 8px;
}
header .name{
    margin-top: 30px;
    margin-left: 7px; 
} 
header .name h1{
    font-size: 15px;
    font-weight: bold;
}
header .name p{
    font-size: 12px;
    margin-top: 10px;
}


header .contact{
    margin-left: 7px;
    margin-top: 20%; 
}
header .contact h2{
    font-size: 13px;
}
header .contact p{ 
    margin-top: 10px;
    font-size: 11px;
    line-height: 21px;
}



#photo {
   width: 70%;
   position: relative;
}

#photo .contain .box img{
   display: none;
}
#photo .contain .photo{
    height: 80vh;
    width: 100%;
   
}
#photo .contain .photo img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}


.info1{
   font-style:italic;
   font-weight: bold;
   font-size: 15px;
   text-align: center;
   color: rgb(42, 42, 42);
}

.info1  p  {
   padding: 10px;
}