/*  pc index */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #4e4e4e;
}
ul {
    list-style: none;
}
h1{
    font-style: 23px;
}
h2{
    font-size: 19px;
}

section{
    float: left;
    width: 85%;
    margin: 0 auto;
 
}
.container{
   width: 100%;
    
}
body{
    color: #4e4e4e;
    font-family: 'Noto Serif KR', serif;
}
header{
    width: 15%;
    float: left;
    height: 190vh;
    background: #C2DCE7;
    margin: 0 auto;
    box-shadow: #bababa 5px 5px 8px;
    text-align: center;
 }
header .name{
    margin-top: 30px;
    margin-left: 15px; 
    text-align: justify;
} 
header .name h1{
    font-size: 25px;
}
header .name p{
    margin-top: 5px;
}
header .contact{
    margin-left: 15px;
    margin-top: 30px; 
    text-align: justify;
}

header .contact p{
   
    font-size: 15px;
    line-height: 23px;
}


#photo {
    display: flex;
    position: relative;
}
#photo .contain  .box{
    margin-left: 38%;
    margin-top: 11%;
}
#photo .contain .photo{
    position: absolute;
    left: 22%;
    top: 14%;
}

.info1{
   font-style:italic;
   font-weight: bold;
   font-size: 22px;
   text-align: center;
   float: right;
   margin-left: 40%;
   margin-top:23%; 
   color: rgb(42, 42, 42);
}

.info1  p  {
   height: 40px;
   padding-bottom: 10px;
   margin-bottom: 60px;
}
.info1  p:hover{
    border-bottom:  #5d5d5d 2.5px solid;

}



/*work 공통*/
        header .worklist{
            margin-top: 30px;   
            
        } 
        header .worklist h1{
            font-size: 26px;
        }
        header .worklist ul{
            margin-top: 30px;
            background-color: rgb(255, 255, 255,0.6);
        }
        header .worklist ul li{
            padding: 10px;
            height: 45px;
            font-weight: bold;
            border-bottom: rgb(165, 165, 165) 1px solid;
        }
        header .worklist ul li:hover {
            border-bottom: 3.5px solid rgb(118, 118, 118);
            background-color:rgb(255, 255, 255,0.9);
        } 
  



     